:root {
--neon-1: #C77DFF;
--neon-2: #5A189A;
--neon-3: rgba(157, 78, 221, 0.25);
}
body.noscroll {
    overflow: hidden;
}

.focus-gallery {
height: auto;
display: grid;
grid-template-columns: 2fr 1fr;
grid-template-rows: auto auto;
gap: 20px;
}
.main-image,
.side-info {
background: #1F1A38;
border: 3px solid #5A189A;
border-radius: 20px;
box-shadow: 4px 0 20px rgba(157, 78, 221, 0.25);
backdrop-filter: blur(4px);
padding: 20px;
}
.main-image img {
width: 100%;
height: auto;
object-fit: contain;
border-radius: 8px;
cursor: pointer;
}
.thumb-row {
grid-column: 1 / 3;
display: flex;
gap: 10px;
overflow-x: auto;
padding: 10px 0;
}
.thumb-row img {
height: 120px;
border-radius: 6px;
cursor: pointer;
transition: transform 0.2s;
}

.thumb-row img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px var(--neon-1),
        0 0 10px var(--neon-2),
        0 0 15px var(--neon-2);
}

/* Smooth fade change */
.fade-out {
opacity: 0;
}
.fade-in {
opacity: 1;
}

@media (max-width: 756px) {
.focus-gallery {
grid-template-columns: 1fr;
grid-template-rows: auto auto auto;
}
}

.photo-lightbox {
    display: none;
    position: fixed;
    z-index: 6000;
    padding-top: 40px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* blocca lo scroll */
    background-color: rgba(0,0,0,0.85);
    backdrop-filter: blur(7px);
    justify-content: center;
    align-items: center;
}

.photo-lightbox.show {
    animation: fadeIn .3s ease forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.photo-lightbox img {
    display: block;
    max-width: 90%;
    max-height: 90vh;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(124, 77, 255, 0.85);
    cursor: zoom-in;
    margin: auto;
}

.close-lightbox {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #fff;
    font-size: 36px;
    cursor: pointer;
    transition: .2s;
}

.close-lightbox:hover {
    color: #d6d6d6;
}

.prev, .next {
    position: absolute;
    top: 50%;
    font-size: 50px;
    color: #fff;
    cursor: pointer;
    user-select: none;
    transform: translateY(-50%);
    transition: 0.2s;
    padding: 10px;
}

.prev:hover, .next:hover {
    color: #c77dff;
}

.prev { left: 20px; }
.next { right: 20px; }

